@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
@import url('https://fonts.googleapis.com/css?family=oswald');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.page1 {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://static.pexels.com/photos/7974/pexels-photo.jpg) no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}

.body {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content1 {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Baloo Bhaina', cursive;

}

.content1 h1 {
    font-size: 70px;
}

.content1 h2 {
    font-size: 27px;
}
.btn {
   color: #000;
    border: 1px solid #f5f5f5;
    border-radius: 15px;
    display: inline-block;
    width: 200px;
    padding: 8px;
    margin: 10px;
    font-size: 
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease-out, background-color ease-out;
}
.btn:hover, btn:focus {
    background-color: #000;
    color: #f5f5f5;
    transition: color 0.3s ease-in, background-color ease-in;
    
}
